---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allConfs = await Astro.glob('../pages/confs/*.md');
const allConfsString = allConfs.map(conf => {
    return {
        title: conf.frontmatter.title,
        long:  conf.frontmatter.long,
        lat : conf.frontmatter.lat,
        href : conf.url,
    }
})
---

<Layout title="Carte des monuments">
    <main>
        <h1 class="title">Carte des monuments</h1>

        <div id="map" data-confs={JSON.stringify(allConfsString)}/>
    </main>
</Layout>

<script>
    import 'mapbox-gl/dist/mapbox-gl.css';
    import mapboxgl from 'mapbox-gl';

    const mapElement: HTMLElement | null = document.getElementById('map');
    if(mapElement){

        mapboxgl.accessToken = 'pk.eyJ1IjoiYXJuYXVkYmFuIiwiYSI6ImNpbDB5NHZvdzAwOHZ3a201c2pmcW8xemIifQ.TIcJEgmjcYpNoXjlNUP_Wg';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [0, 0],
            zoom: 2
        });

        const allConfsDataset: string | undefined = mapElement.dataset.confs
        if(allConfsDataset){

            const allConfs : [{href: string, title: string, long: number, lat: number}] = JSON.parse(allConfsDataset);
            allConfs.map((conf) => {
                const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(`<a href=${conf.href}>${conf.title}</a>`)
                new mapboxgl.Marker()
                    .setLngLat([conf.long, conf.lat])
                    .setPopup(popup)
                    .addTo(map);
            })
        }
    }

</script>

<style lang="scss">
    .title{
      color: #fff;
      text-align: center;
      font-size: 2rem;
      margin: 2rem 5%;
      line-height: 1.5;
    }

    #map{
      height: calc( 100svh - 8rem - 3rem);
    }
</style>
