---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allConfs = await Astro.glob('../pages/confs/*.md');
---

<Layout title="Conférences sur les monuments important du monde" displayNav={false}>
	<main>
		<h1>Bienvenu sur le site des <span class="text-gradient">Conferences</span></h1>
		<p class="instructions">
			Cliquer sur un titre de monument si dessous ou visualisez les sur <a href="/carte">une carte 🌍</a>
		</p>
		<div class="link-card-grid">
			{allConfs.map((conf) =>
				<Card
					href={conf.url}
					title={conf.frontmatter.title}
				/>
			)}
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions a{
		color: #fff;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
