<nav class="site-nav">
    <a href="/">Liste des conférences</a>
</nav>

<style lang="scss">
  .site-nav{
    padding: 2rem 2rem 0;

    a{
      color: #fff;
      &:hover{
        text-decoration: none;
      }
    }
  }
</style>
