---
import Layout from '../layouts/Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <div class="page">
        <slot></slot>
    </div>
</Layout>

<style lang="scss">
    .page{
      max-width: 45rem;
      margin: 2rem auto;
      color: #fff;
    }
</style>
